$navbar-default-bg: #B2C875;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default{
  font-size: auto;
  font: #fff;
}

.center {
  text-align: center;
}

.jumbotron{
  background-image: url('cover_image.jpg');
  background-size: cover;
  height: 300px;
}

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.jumbotron{
  color: red;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
  background-color: #ffdb4d;
  border-color: 1px solid black;
}

.btn-xlarge:hover{
  color: #fff;
  text-decoration: none;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color:#777;
}

footer a:hover{
  color: #222;
}

footer small {
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

.description{
  margin-top: 0;
}

.well{
  color: #616f7d;
}

.recipe_action{
  padding-top: 5px;
}

.recipe_action a{
color: #fff;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #073B15;
  font-weight: bold;
  list-style: none;
  font-size: 1.25em;
}
.badge{
  background-color: #fff;
}


.input_checkbox input{
  width: auto !important;
}

.center-block{
  float: none;
}

.chat-container{
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.message-container{
  .form-control{
    float: left;
    width: 80%;

  }
  .btn{
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.message{
  padding-left: 5px;
  padding-top: 10px;
}

.messages{
  border: 1px solid #eaeaea;
  height: 20em;
  position: relative;
  overflow: auto;
}
